<li class="result">
    <div class="result-info">
        <img width="256" height="256" src="{{cover}}" loading="lazy" decoding="async"/>
        <div class="result-info-text">
            <h2>{{name}}</h2>
            <span class="light">{{arrayJoin artists ", "}}</span>
        </div>
    </div>
    <hr>
    <ol class="result-tracklist">
        {{#each tracks as |track|}}
            {{> track num=(add @index 1)}}
        {{/each}}
    </ol>
</li>
