<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/normalize.css">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="icon" href="/favicon.png" type="image/png">
        <title>amdl - {{title}}</title>
        <meta name="description" content="world's first(?) public(?) apple music downloader">
        <meta property="og:type" content="website">
        <meta property="og:title" content="amdl - {{title}}">
        <meta property="og:description" content="world's first(?) public(?) apple music downloader">
    </head>
    <body>
        {{> header}}
        <main>
            {{{body}}}
        </main>
        {{> footer}}
    </body>
</html>
